.dashboard-chat {
    display: none;
    position: absolute;
    background: #ffffff;
    margin: 30px 15px;
    height: calc(100% - 60px);
    width: calc(100% - 30px);
    text-align: right;
}

.dashboard-chat.show {
    display: block;
}

.close-icon {
    margin-bottom: 15px;
}

.chat-container {
    background: rgba(208, 237, 237, .5);
    padding: 15px;
    height: calc(100% - 63px);
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column-reverse;
}

.form--chat {
    display: flex;
    gap: 15px;
}

.form__button--chat {
    background: #19A7B0;
    position: relative;
    margin-top: 0;
    height: 44px;
    width: 50px;
    padding: 0;
}
