.dashboard {
    background-color: #FFFFFF;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.dashboard-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.dashboard-container:first-child {
    border-right: 1px solid #006972;
    padding: 0 30px;
    height: 100%;
    width: auto;
    margin: 0;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    height: 100%;
    width: 60%;
    margin: 30px;
    position: relative;
}

.dashboard-logo {
    height: 90px;
    margin-top: 30px;
}

.dashboard-salute {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    width: 100%;
}

.dashboard-text {
    margin-top: 15px;
    line-height: 20px;
}

.dashboard-scroll {
    background-color: rgba(208, 237, 237, .5);
    margin-bottom: 30px;
    height: calc(100% - 291px);
    width: 300px;
    overflow: hidden;
}

.dashboard-chat {
    display: none;
    position: absolute;
    background: #ffffff;
    margin: 30px 15px;
    height: calc(100% - 60px);
    width: calc(100% - 30px);
    text-align: right;
}

.dashboard-chat.show {
    display: block;
}

.close-icon {
    margin-bottom: 15px;
}

.chat-container {
    background: rgba(208, 237, 237, .5);
    padding: 15px;
    height: calc(100% - 63px);
    width: calc(100% - 30px);
    max-width: 570px;
    display: flex;
    flex-direction: column-reverse;
}

.form-chat {
    display: flex;
    gap: 15px;
}

.form__button--chat {
    background: #19A7B0;
    position: relative;
    margin-top: 0;
    height: 44px;
    width: 50px;
    padding: 0;
}