.main {
    height: 100%;
    width: auto;
    background-color: #006972;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px;
}

.main__nav--divisor {
    border: none;
    border-bottom: 1px solid #19A7B0;
    margin: 0;
    width: 60px;
}

.main__nav--item:first-child {
    height: 60px;
    width: 60px;
}

.main__nav--item,
.main__nav--item-logout {
    height: 50px;
    width: 50px;
}

.main__nav--link {
    display: flex;
    position: relative;
}

.main__nav--img,
.main__nav--img-logout {
    height: 100%;
    width: 100%;
    z-index: 9;
}

.main__nav--item.selected .main__nav--link::after,
.main__nav--item:hover .main__nav--link::after,
.main__nav--item-logout:hover .main__nav--link::after {
    content: "";
    background: rgba(25, 167, 176, .5);
    border-radius: 100%;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: 0;
}
