.dashboard-scroll__list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 0 15px;
    height: 100%;
}

.dashboard-scroll__list--item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
    gap: 10px;
    border-bottom: 1px solid #006972;
    cursor: pointer;
    width: 260px;
}

.dashboard-scroll__list--item:last-child {
    border-bottom: none;
}

.item {
    font-size: 14px;
    line-height: 24px;
    padding: 5px 15px;
    color: initial;
    text-decoration: none;
}

.item:hover {
    background: rgba(255, 255, 255, .5);
}

.item__classification {
    text-transform: uppercase;
    font-weight: bold;
}

.item__classification.high {
    color: #EC6E6E;
}

.item__classification.medium {
    color: #ECBA6E;
}

.item__classification.low {
    color: #19A7B0;
}
